#takecookies {
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    min-height: 100px;
    padding: 1em 2em;


    background-color: #4E949C;
    color: white;

    * {padding: 0; margin: 0; box-sizing: border-box; font-family: Montserrat;}

    h1 {
        font-size: 3em;
    }

    .content {
        display: grid;
        grid-template-columns: 80% 20%;

        a {
            cursor: pointer;
            color: rgb(142, 213, 218);
            text-decoration: none;
        }
        button {
            margin-left: 1em;
            padding: 1em;
            border: none;
            border-radius: 5px;
            font-weight: bold;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
        @media (max-width: 600px) {
            display: block;
            button {
                margin-top: 1em;
                padding: 3em 1em;
            }
        }
    }
}